<p class="lead">Just the news, the way you want it. A single app to read all the news you rely on to think, live and get ahead.</p>

<p>Instead of checking the 50 websites you follow, now, with the help of the Simply News app, users can *simply* open the RSS reader app to read each website's top stories - all in one place.</p>

<p>
This app is currently available for web, iOS and Android devices. </p>
