<!-- create using RSS data -->
<section class="row">
  <div class="col-xs-12 source-title">
    <h3>News Source 1</h3>
  </div>
  <div class="col-xs-12 article-list">
    <article>
      <h4>Article Title 1 <small>Nov. 12, 1955</small></h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </article>
    <article>
      <h4>Article Title 2 <small>Nov. 12, 1955</small></h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </article>
    <article>
      <h4>Article Title 3 <small>Nov. 12, 1955</small></h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </article>
  </div>
</section>
