<% if @message %>

<li><%= @messgae %></li>
<% end %>

<!--LOGIN PAGE-->

<h3>Login:</h3>

<form class="" action="/login" method="post"
  <input type="text" name="email" value="" placeholder="email">
  <input type="text" name="password" value="" placeholder="password">
  <input type="submit" name="name" value="Login:">
</form>
