<% if @message %>

<li><%= @messgae %></li>
<% end %>

<!--REGISTER-->

<h3>REGISTER</h3>

<form class="" action="/account/register" method="post">
  <input type="text" name="first_name" value="" placeholder="Your First Name">
  <input type="email" name="email" value="" placeholder="Your Email">
  <input type="password" name="password" value="" placeholder="Password">
  <input type="submit" name="name" value="Register">
</form>
