<%= erb :partial_article_list, :locals => { :source => @source, :qty => false, :single => true } %>
<div class="row">
  <div class="col-xs-12">
    <h3><a href="/">Back to News Feed</a></h3>
  </div>
</div>
