<h3>Click a source to add or remove it from your feed.</h3>
  <form action="/save-sources" method="post">
    <section class="row" id="news-sources-container">

    </section>
    <div class="row submit-form">
      <div class="col-xs-12">
        <button type="submit" class="btn btn-warning form-control">Save Sources</button>
      </div>
    </div>
  </form>
  <script src="/js/form.js"></script>
  <script src="/js/sources.js"></script>
