<% if session[:alert] %>
  <div class="row">
    <div class="col-xs-12">
      <div class="alert alert-success alert-dismissible alert-top" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= session[:alert] %>
      </div>
    </div>
  </div>
  <% session[:alert] = nil
end %>

<blockquote>
  <p>Change is the law of life. And those who look only to the past or present are certain to miss the future.</p>
  <footer>John F. Kennedy</footer>
</blockquote>
<div class="row">
  <div class="col-xs-12">
    <form action="/account/update" method="post">
      <input type="hidden" name="id" value="<%= @account.id %>">
      <div class="form-group">
        <label for="first_name">First Name</label>
        <input type="text" name="first_name" value="<%= @account.first_name %>" class="form-control">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" name="email" value="<%= @account.email %>" class="form-control">
      </div>
      <div class="form-group">
        <label for="password">Password (leave blank to keep current password)</label>
        <input type="password" name="password" class="form-control">
      </div>
        <button type="submit" class="btn btn-warning form-control">Update</button>

    </form>
  </div>
</div>
